In [ ]:

for i in range(2000,2026):
    df_grouped[(df_grouped.year==i)&(df_grouped['count']>0)].drop(columns=["year"]).to_csv(f'/Users/robertpraas/CEPS-DST Dropbox/Robert Praas/1-load/geo/urban/aiw/crunchbase/{i}.csv',index=0)

In [2]:
import pandas as pd
pd.read_csv('./country/crunchbase/2000.csv')

                   geo        count                   domain
0          Canada (CA)   81885767.0  Artificial Intelligence
1           Chile (CL)    6000000.0  Artificial Intelligence
2           China (CN)    2054410.0  Artificial Intelligence
3  Czech Republic (CZ)   12000000.0  Artificial Intelligence
4          France (FR)    6637289.0  Artificial Intelligence
5         Germany (DE)      94761.0  Artificial Intelligence
6     New Zealand (NZ)    8400000.0  Artificial Intelligence
7          Taiwan (TW)    3242014.0  Artificial Intelligence
8  United Kingdom (GB)    9501283.0  Artificial Intelligence
9   United States (US)  249070000.0  Artificial Intelligence