In [ ]:

for i in range(2000,2026):
    df_grouped[(df_grouped.year==i)&(df_grouped['count']>0)].drop(columns=["year"]).to_csv(f'/Users/robertpraas/CEPS-DST Dropbox/Robert Praas/1-load/geo/urban/aiw/crunchbase/{i}.csv',index=0)

In [3]:
import pandas as pd
pd.read_csv('./country/crunchbase/2020.csv')

                    geo         count                   domain
0        Argentina (AR)  2.150000e+05  Artificial Intelligence
1          Armenia (AM)  1.875000e+06  Artificial Intelligence
2        Australia (AU)  1.858276e+08  Artificial Intelligence
3          Austria (AT)  2.916349e+07  Artificial Intelligence
4          Bahrain (BH)  1.380000e+07  Artificial Intelligence
..                  ...           ...                      ...
80  United Kingdom (GB)  2.185125e+09  Artificial Intelligence
81   United States (US)  2.936883e+10  Artificial Intelligence
82         Uruguay (UY)  2.000000e+06  Artificial Intelligence
83         Vietnam (VN)  1.600000e+06  Artificial Intelligence
84        nan (NA) (NA)  3.199268e+07  Artificial Intelligence

[85 rows x 3 columns]

In [4]:
import pandas as pd
pd.read_csv('./urban/crunchbase/2020.csv')

                          geo        count                   domain
0                 ?od? (1358)     271675.0  Artificial Intelligence
1            Abu Dhabi (1631)    2265000.0  Artificial Intelligence
2               Adelaide (41)      93199.0  Artificial Intelligence
3             Ahmadabad (764)    2096087.0  Artificial Intelligence
4    Al-Manamah (Manama) (56)   13800000.0  Artificial Intelligence
..                        ...          ...                      ...
337              Zagreb (645)    2987325.0  Artificial Intelligence
338           Zhengzhou (592)    7434502.0  Artificial Intelligence
339              Zhuhai (600)   14731053.0  Artificial Intelligence
340             Zurich (1543)  193837628.0  Artificial Intelligence
341             nan (NA) (NA)  418143859.0  Artificial Intelligence

[342 rows x 3 columns]

In [8]:
import pandas as pd
test = pd.read_csv('./country/regpat/2020.csv')
test

                 geo domain  count
0       Austria (AT)   Y04S      7
1       Austria (AT)   G01D     13
2       Austria (AT)   B60L     44
3       Austria (AT)   Y02T     82
4       Austria (AT)   A23B      1
...              ...    ...    ...
19386   Ireland (IE)   H04R      1
19387   Ireland (IE)   G10K      1
19388   Vanuatu (VU)   F02G      1
19389    Canada (CA)   C10N      1
19390  Botswana (BW)   G06Q      1

[19391 rows x 3 columns]

In [10]:
test[test.geo=='NAN (NAN)']

Empty DataFrame
Columns: [geo, domain, count]
Index: []